SourceCode/.Xil/
SourceCode/CCSDS_Stack_Projekt.cache/
SourceCode/CCSDS_Stack_Projekt.hw/
SourceCode/CCSDS_Stack_Projekt.ip_user_files/
SourceCode/CCSDS_Stack_Projekt.runs/
SourceCode/CCSDS_Stack_Projekt.srcs/utils_1/